*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../Imagenes/fondo.jpg);
    color: rgb(12, 22, 22);
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    font-size: 10px;
}
.sixth {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.5;
  }
  
  .sixth h3 {
    text-align: center;
    font-size: 22px;
  }
  
  .sixth p {
    font-size: 18px;
    text-align: justify;
  }
  
  .sixth-answer label {
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .sixth-answer input {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    height: 25px;
    width: 200px;
  }

.useracount{
    background-color: rgb(116, 116, 172);
    height: 430px;
    width: 350px;
    border-radius: 15px solid rgb(112, 9, 167);
    margin-top: 10%;
    margin-bottom: 10%;
    text-align-last: center;
}

.title{
    text-align: center;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 10px;
    color: rgb(18, 10, 26);
}

.username{
    padding: 10px;
}

.username h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-left: 50px;
    margin-right: 5px;
    padding-left: 5px;
}

.username input{
    height: 25px;
    width: 300px;
    border: solid 2px rgb(138, 5, 255);
    border-radius: 10px;
}

.userappat{
    padding: 10px;
}

.userappat h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-left: 50px;
    margin-right: 5px;
    padding-left: 5px;
}

.userappat input{
    height: 25px;
    width: 300px;
    border: solid 2px rgb(138, 5, 255);
    border-radius: 10px;
}

.userapmat{
    padding: 10px;
}

.userapmat h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-left: 50px;
    margin-right: 5px;
    padding-left: 5px;
}

.userapmat input{
    height: 25px;
    width: 300px;
    border: solid 2px rgb(138, 5, 255);
    border-radius: 10px;
}

.userpassword{
    padding: 10px;
}

.userpassword h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-left: 50px;
    margin-right: 5px;
    padding-left: 5px;
}

.userpassword input{
    height: 25px;
    width: 300px;
    border: solid 2px rgb(138, 5, 255);
    border-radius: 10px;
}

.confirmpass{
    padding: 10px;
}

.confirmpass h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-left: 50px;
    margin-right: 5px;
    padding-left: 5px;
}

.confirmpass input{
    height: 25px;
    width: 300px;
    border: solid 2px rgb(138, 5, 255);
    border-radius: 10px;
}
